@import "tailwindcss";
@config "../tailwind.config.ts";

html {
  font-size: clamp(14px, 1.2vw, 18px);
}

button {
  cursor: pointer;
  user-select: none;

  &:disabled {
    cursor: not-allowed;
  }
}

a {
  cursor: pointer;
}
